FruitShopClient/Connected Services/FruitShopServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FruitShopServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FruitShopServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductType" nillable="true" type="tns:ProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductType" nillable="true" type="tns:ArrayOfProductType" />
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductDetails" nillable="true" type="tns:ProductDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductType" nillable="true" type="tns:ProductType" />
  <xs:complexType name="ProductDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetails" nillable="true" type="tns:ProductDetails" />
  <xs:complexType name="LoginDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDetails" nillable="true" type="tns:LoginDetails" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfOwnedProductType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnedProductType" nillable="true" type="tns:OwnedProductType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOwnedProductType" nillable="true" type="tns:ArrayOfOwnedProductType" />
  <xs:complexType name="OwnedProductType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductDetails" nillable="true" type="tns:ProductDetails" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OwnedProductType" nillable="true" type="tns:OwnedProductType" />
</xs:schema>